h1 {
    color: salmon; text-align: center;
}
.annotation {
    font-size: 10px;
}

#subscribe-btn {
    color: darkred;
}

#subscribe1-btn {
    color: darkolivegreen; 
}

subscribe-btn : cebab-case
subscribe1-btn : camelcase {
                    lowerCamelCase,
                    UpperCamelCase

}
subscribe_btn : snake_case
I_AM_CONSTANT