h1 {
    color: salmon; text-align: center;
}
.annotation {
    font-size: 10px;
}

#subscribe-btn {
    color: darkred;
}

#subscribe1-btn {
    color: darkolivegreen; 
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; border: 10px crimson dotted;
    background-color:gainsboro;
}
