h1 {
    color: salmon; text-align: center;
}
.annotation {
    font-size: 10px;
}

#subscribe-btn {
    color: darkred;
}

#subscribe1-btn {
    color: darkolivegreen; 
}

a {
    color: brown;
    text-decoration: none;
}
.nav-link-item {
    display: inline;
}

p {
    width: 200px;
}

#proba {
    color: darkolivegreen;
    background-color: lightgreen;
    font-family: monospace;
    font-size: 16px;
    width: 200px;
    height: 175px;
    border: 2px
    solid darkgreen;
    padding-left: 10px;
    padding-top: 20px;
    padding-right: 10px;
}

body {
    border: 3px dotted darkgoldenrod;
    text-align: center;
    background-color: darkkhaki;
}

#keke {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    color: darkred;
    background-color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 2px solid darkred;
    font-size: 19px;
}